<div class='label-information'>

  <P>宛先: <%= @history.shipping %></P>
  <p>宛名: <%= @history.victim.first_name %><%= @history.victim.last_name %> 様</p>
  <p>送り主指名: <%= @history.supporter.first_name %><%= @history.supporter.last_name %></p>
  <p>送り主電話番号: <%= @history.supporter.telephone %></p>


</div>
